html{
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
	font-size: 12px;
	color: #000;
	
}

img{
	border: 0;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #545454;
}


ul{
	padding: 0;
	list-style: none;
}

.hover:hover{
	background: #CCC;
}



.zebra-dark{
	background: #F1ECEC;
}
.zebra-dark-hover{
	background: #F1ECEC; cursor:pointer;
}
.zebra-dark-hover:hover{
	background: #FCFFFC;
}
.zebra-darker{
	background: #CAC3C3;
}
.zebra-midtone{
	background: #DBD6D6;
}
.zebra-light{
	background: #FFFFFF;
}
.zebra-ok{
	background: #B4EAB7;
}
.zebra-ok-hover{
	background: #B4EAB7; cursor:pointer;
}
.zebra-ok-hover:hover{
	background: #C1FFC4;
}

.mainTitle{
	margin: 15px 0; 
	font-size:18px; 
	font-weight: bold;
}

.title{
	border-bottom: 2px solid #000; 
	margin-bottom:22px; 
	font-size:15px; 
	font-weight: bold;
}

.tabela_titulos{
	font-size: 14px;
	font-weight: bold;
}

.content{
	margin: 0 auto;
	/* width: 900px; */
	width: 95%;
}

form ul li{
	padding: 3px 0;
	font-weight: bold;
}

textarea {
	font-family: Arial;
	font-size: 90.01%;
	width:100%;
}

.button-line{
	border: 1px solid #999; 
	background: #DCDCDC; 
	border-radius:3px; 
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
}

.titulo-escuro{
	color: #FFF;
	padding: 3px;
	background: #A39F9F;
	font-size: 14px;
	font-weight: bold;
}


/* ---------- HEADER ---------- */
	#header{
		background: url('../images/topo_full.jpg');
		width: 100%;
		height: 133px;
	}
	
	#header #header-left{
		height: 26px;
		font-size: 15px;
	}
	
	#header #header-middle{
		height: 67px;
		font-size: 23px;
		padding: 10px 0 0 10px;
	}
	
	#header #header-middle #status{
		font-size: 15px;
	}
	
	#header #header-menu{
		height: 30px;
	}
	
	#header #header-menu ul{
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 7px;
		font-weight: bold;
	}
	
	#header #header-menu ul li{
		margin-left: 20px;
		float: left;
	}
	
	#header #header-menu ul li a{
		font-size: 15px;
	}

/* ---------- FIM HEADER ---------- */


/* ---------- MENSAGEM ---------- */
#alertstyle {
	margin-bottom: 10px;
    padding: 13px;
    width: 393px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    background: repeat scroll 50% 50% #B81900;
    border: 1px solid #CD0A0A;
    color: #FFFFFF;
    padding: 3px;
}


.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-state-sucess, .ui-widget-content .ui-state-sucess, .ui-widget-header .ui-state-sucess {
    background: none repeat scroll 0 0 #F0FFF0;
    border: 1px solid #00FF00;
    color: #178240;
    font-weight: bold;
    text-align: center;
}



/* ------ FIM MENSAGEM -------- */

.content-foto{
	width: 260px;
	text-align: center;
}

.foto{
	width: 250px;
	height: 150px;
	margin: 0 0 10px 0;
}

.content-foto label a{
	
}

/* ------ FOTOS -------- */




/* ------ FIM FOTOS -------- */





/* ---------- MENU SECUNDARIO ---------- */

.menu_sec{
	height: 24pxs;
	background: #A39F9F;
	color:white;
}
.menu_sec a{
	color:inherit;
}

.menu_sec ul{
	font-weight: bold;
    list-style: none outside none;
    margin: 7px 0 0;
    padding: 3px 0 0;
    height: 22px;
}

.menu_sec ul li{
	float: left;
    margin-left: 20px;
    padding: 0 22px;
}

.menu_sec ul li a{
	font-size: 15px;
	color: #FFFFFF;
}

/* ---------- FIM MENU SECUNDARIO ---------- */




.framed_gray{ border:3px solid gray; }



/* ---------- BOTOES ---------- */

.botao_green{      background:url(../images/dgd_green.png)      repeat-x top; color:black; padding:10px; cursor:pointer; }
.botao_green_down{ background:url(../images/dgd_green_down.png) repeat-x top; color:white; padding:10px; cursor:pointer; }
.botao_red {      background:url(../images/dgd_red.png)      repeat-x top; color:black; padding:10px; cursor:pointer; }
.botao_red_down { background:url(../images/dgd_red_down.png) repeat-x top; color:white; padding:10px; cursor:pointer; }
.botao_gray {         background:url(../images/dgd_gray.png)      repeat-x top; color:black; padding:10px; cursor:pointer; }
.botao_gray_down {    background:url(../images/dgd_gray_down.png) repeat-x top; color:white; padding:10px; cursor:pointer; }
.botao_gray_v2 {      background:#686868 url(../images/dgd_gray.png)      repeat-x top; cursor:pointer; padding:13px; color:black; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-align:center; }
.botao_gray_v2_down { background:#686868 url(../images/dgd_gray_down.png) repeat-x top; cursor:pointer; padding:13px; color:white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-align:center; }
.botao_gray_v3 { background:url(../images/dgd_gray_down.png) repeat-x top; color:white; padding:2px; cursor:pointer; border:1px solid white; font-weight:bold; }

/* ---------- FIM BOTOES ---------- */



/* ---------- CHECKLIST ---------- */

.cl_none           { font-size:80.01%; color:black; text-align:center; background:#E3E3E3; border-bottom:1px solid #E8DFDF; }
.cl_aprovado   { font-size:80.01%; color:black; text-align:center; background:#96FF9A; border-bottom:1px solid #E8DFDF; }
.cl_pendente   { font-size:80.01%; color:black; text-align:center; background:#FFFD96; border-bottom:1px solid #E8DFDF; }
.cl_reprovado { font-size:80.01%; color:black; text-align:center; background:#FFAD96; border-bottom:1px solid #E8DFDF; }

.cl_title       { font-size:80.01%; background:#A39F9F; color:white; font-weight:bold; }
.cl_subtitle { font-size:80.01%; background:#E3E1E1; color:black; font-weight:bold; }

.cl_td_light       { font-size:80.01%; color:black; background:white;   border-bottom:1px solid #E8DFDF; }
.cl_td_dark         { font-size:80.01%; color:black; background:#F1ECEC; border-bottom:1px solid #E8DFDF; }
.cl_td_selected { font-size:80.01%; color:black; background:#CDFACE; border-bottom:1px solid #6BE86F; }

/* ---------- FIM CHECKLIST ---------- */

/* ---------- ADM SRCS ---------- */

.blue-ok   { background:#4A93E8; color:white; display:inline-block; }
.green-ok  { background:#8AE549; color:white; display:inline-block; }
.red-alert { background:#E55949; color:white; display:inline-block; }

/* ---------- FIM ADM SRCS ---------- */