.content{
	margin: 0 auto;
	width: 99%;
}


/* ---------- HEADER ---------- */
	#header{
		background: url('../images/topo_full.jpg');
		width: 100%;
		height: 133px;
	}
	
	#header #header-left{
		height: 26px;
		font-size: 15px;
	}
	
	#header #header-middle{
		height: 67px;
		font-size: 23px;
		padding: 10px 0 0 10px;
	}
	
	#header #header-middle #status{
		font-size: 15px;
	}
	
	#header #header-menu{
		height: 30px;
	}
	
	#header #header-menu ul{
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 7px;
		font-weight: bold;
	}
	
	#header #header-menu ul li{
		margin-left: 20px;
		float: left;
	}
	
	#header #header-menu ul li a{
		font-size: 15px;
	}

/* ---------- FIM HEADER ---------- */

